html, body {
	height: 100%;
	margin: 0px;
}

#main_container{
	height: 100%;
	display:grid;
	position: relative;
	grid-template-columns: [left] 30% [center_left] 1fr [center_right] 30% [right];
	grid-template-rows: [toptop] 50px [top] max-content [row_middle] 1fr [bottom];
}

#top_bar_container {
	grid-column: left / right;
	grid-row: toptop / top;
	background-color: rgb(180,180,200);
}

#encounter_div {
	grid-column: center_left / center_right;
	grid-row: top / row_middle;
	background-color: green;
	visibility: hidden;
}

/* https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout */
#map_container_wrapper {
	grid-column: center_left / center_right;
	grid-row: top / row_middle;
	position: relative;
	padding-bottom: 100%; /* 1:1 ratio */
	height: 0;
}

#map_container {
	position: absolute;
    top: 0;
    left: 0;
    bottom:0;
	right:0;
}

table#map_table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
	border-collapse: collapse;
}
table#map_table td {
	border: 0px solid black;
}

td {
	background-size: 100%;
}

#left_container {
	background-color: rgb(200,180,200);
	height: 100%;
	grid-column: left / center_left;
	grid-row: top / bottom;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#char_portrait_wrapper {
	position: relative;
	padding-bottom: 50%; /* 1:1 ratio */
	height: 0;
	width: 50%;
	align-self: center;
}

#char_portrait_container {
	position: absolute;
    top: 0;
    left: 0;
    bottom:0;
	right:0;
	background-size: 100%;
	background-color: white;
	border: 1px solid black;
}

#left_container p {
	margin: 3px;
	margin-left: 12px;
}

#right_container {
	background-color: rgb(200,200,180);
	height: 100%;
	grid-column: center_right / right;
	grid-row: top / bottom;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#bottom_center_container {
	grid-column: center_left / center_right;
	grid-row: row_middle / bottom;
}

#bottom_center_container p {
	margin: 12px;
}

@media (max-width: 6in) {
	#main_container{
		grid-template-columns: [left] 100% [right];
		grid-template-rows: 50px max-content 100px 100px 100px;
	}
	
	#top_bar_container {
		grid-column: left / right;
		grid-row: 1;
	}
	
	#map_container_wrapper, #encounter_div {
		grid-column: left / right;
		grid-row: 2;
	}

	#bottom_center_container {
		grid-column: left / right;
		grid-row: 3;
	}
	
	#left_container {
		grid-column: left / right;
		grid-row: 4;
	}
	
	#right_container {
		grid-column: left / right;
		grid-row: 5;
	}
}

#char_div {
	width: 100%;
	height: 100%;
	background-size: 100%;
}

.equipment, .equipment_portrait {
	position: relative;
	margin-bottom: -100%;
	width: parent;
	height: 100%;
	background-size: 100%;
}

#arrows {
	cursor: pointer;
	align-self: center;
}

